.footer {
  &__community {
    padding-top: 70px;
    background-image: url("../images/footer-bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $header_text_color;
  }

  &__text {
    font-size: 14px;
  }

  &__bottom-text {
    font-size: 12px;
    margin: 0;
  }
}
